.contact-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
    gap: 20px;
}

.contact-card,
.social-card {
    width: 90%;
    height: fit-content;
    color: white;
}

.contact-card-header,
.social-card-header {
    border-image: url(../../assets/templates/ore-ui/cards/card-header.png) 4 4 2 4 fill / 4px 4px 2px 4px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MinecraftFive";
}

.social-card-content {
    border-image: url(../../assets/templates/ore-ui/cards/card-footer-bottommost.png) 4 4 2 4 fill / 4px 4px 2px 4px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 14px;
    border: solid 2px blue;
}

.input-wrapper label {
    margin-bottom: 12px;
}

.input-wrapper input,
.input-wrapper textarea {
    width: 100%;
    min-height: 60px;
    border: solid 2px green;
    background: transparent;
    color: white;
    font-family: inherit;
    padding: 20px;
    overflow-y: hidden;
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
    outline: none;
    box-shadow: none;
}

.input-wrapper button {
    width: 100%;
    height: 50px;
}