@font-face {
    font-family: "Minecraft";
    src: url("./assets/fonts/Minecraft.otf") format("opentype");
}
@font-face {
    font-family: "MinecraftFive";
    src: url("./assets/fonts/MinecraftFive.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-family: 'Minecraft', 'Segoe UI', Tahoma, Sans-Serif;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body {
    background: url('./assets/webbg.png') no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.overlay {
    background-color: rgba(0,0,0,0.45);
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}